.recordTypePage nav {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 2em;
	float: right;
}
.recordTypePage nav .prevButton,
.recordTypePage nav .nextButton {
	display: inline-block;
	font-size: 0.6em;
	font-weight: normal;
	margin-left: 1em;
	position: relative;
	white-space: nowrap;
}
.recordTypePage nav .prevArrow,
.recordTypePage nav .nextArrow {
	display: inline-block;
	text-decoration: none;
	font-size: 0.7em;
}
.recordTypePage nav .prevArrow {
	margin-right: 4px;
}

.recordTypePage nav .nextArrow {
	margin-left: 4px;
}

.printLabel {
	font-size: 0.6em;
	font-weight: normal;
	margin-left: 1em;
	position: relative;
	bottom: -3px;
	cursor: pointer;
}

.printButton {
	color: #004da3;
	text-decoration: underline;
}

.printButton:hover {
  color: #4a3651;
}