.recordTypeField {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-end: span 4;
}

.recordTypeField label  {
  font-weight: bold;
  padding: 5px;
  display: inline-block;
  border: solid #000;
  border-width: 1px 0 1px 1px;
  background: #FFD965;
  min-height: 20px;
  font-size: 16px;

  vertical-align: top;
}

.recordTypeField div {
  border: 1px solid #000;
  /*margin-bottom: 1em;*/
  min-height: 1em;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}

.recordType {
	grid-column-start: 0;
	grid-column-end: span 16;
	grid-template-columns: 3fr 13fr;
}
#recordType {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}


.dateApprovedByGeneralCounsel, .referenceCopy, .dataClassification {
	grid-column-start: 0;
	grid-column-end: span 12;
	grid-template-columns: 3fr 9fr;
}

.dateRevised, .storageRequirements {
	grid-column-start: 13;
	grid-column-end: span 8;
	grid-template-columns: 2fr 6fr;
}






.legalReference, .notes, .systemOfRecord, .archivesNotes,
.generalCounselNotes, .recordTypeDescription {
	grid-column-start: 0;
	grid-column-end: span 20;
	grid-template-columns: 3fr 17fr;
}

.officialCopy {
	grid-column-start: 0;
	grid-column-end: span 5;
	grid-template-columns: 3fr 2fr;
}

.retention {
	grid-column-end: span 3;
	grid-template-columns: 1.5fr 1.5fr;
}

.triggerEvent, .disposition, .referenceCopyDisposition,
.scheduleId, .dispositionMethod, .referenceCopyDispositionMethod {
	grid-column-end: span 4;
	grid-template-columns: 2fr 2fr;
}

/* If certain fields are hidden, other columns need to expand to fill the gap */
.retention.fillGap {
	grid-column-end: span 6;
	grid-template-columns: 3fr 3fr;
}
.triggerEvent.fillGap {
	grid-column-end: span 6;
	grid-template-columns: 2fr 4fr;
}
.disposition.fillGap,
.referenceCopyDisposition.fillGap {
	grid-column-end: span 8;
	grid-template-columns: 2fr 6fr;
}
