.collapseList {
  margin: 0 4em;
  overflow-y: auto;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.collapseList.closed {
  max-height: 0;
}

.functionalCategory {
  background-repeat: no-repeat;
  padding-left: 28px;
}

.more .functionalCategory{
  background-image: url("./icons/baseline-expand_more-24px.svg");
}

.less .functionalCategory {
  background-image: url("./icons/baseline-expand_less-24px.svg");
}

.lastLink {
  display: block;
  margin: 1.5em 2em 2em 3em;
}

.recordTypeRow a, .collapseList a, .result a, a.lastLink {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.recordTypeRow a:hover, .collapseList a:hover, .result a:hover, a.lastLink:hover {
  text-decoration: underline;
  color: #333;
}

.recordTypeRow {
  padding: 5px 0;
}
