body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a,
a:visited {
  color: #004da3;
}

a:hover {
  color: #4a3651;
}

.container-fluid {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.text-content {
  margin: 20px auto;
}

mark.term-match {
  background-color: #f6e7a1;
}

@media screen and (max-width: 1199px) {
  .container-fluid {
  width: calc(100% - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .container-fluid {
    width: 1200px;
  }
}

/* print specific styles */
@media print {
  .no-print {
    display: none;
  }

  mark.term-match {
    background-color: white;
  }
}
@media screen {
  .print-only {
    display: none;
  }
}
