body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a,
a:visited {
  color: #004da3;
}

a:hover {
  color: #4a3651;
}

p {
  margin: 0;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 0;
  padding-right: 0;
}

.text-content {
  margin: 20px auto;
}

mark.term-match {
  background-color: #f6e7a1;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0rem;
  margin-left: 0rem;
  clear: both;
}

@media screen and (max-width: 780px) {
  .row {
    margin: 0 !important;
  }
}

/* print specific styles */
@media print {
  @page {
    size: landscape;
  }

  .no-print {
    display: none;
  }

  mark.term-match {
    background-color: white;
  }
}
@media screen {
  .print-only {
    display: none;
  }
}
