.recordTypeDisplay {
	margin-bottom: 2em;
}

.recordTypeFields {
	display: grid;
	grid-template-columns: repeat(20, minmax(50px, 5%));
}

.recordTypeDisplay h1 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
