.searchTools {
  background-color: #5aabbc20;
  border: 1px solid lightgrey;
  display: block;
  margin: 20px 0;
  margin-top: 60px;
  min-height: 40px;
  padding: 20px;
  width: calc(100% - 42px);
}

.searchBar {
  display: flex;
  flex-flow: row nowrap;
}

.searchField {
  flex: 1 0 auto;
  width: 150px;
  font-size: larger;
  line-height: 2em;
  padding: 0 10px;
}

.termMode,
.fieldSearch {
  flex: 0 1 auto;
  width: 250px;
  line-height: 1.8em;
  vertical-align: top;
}
