.searchTools {
  background-color: #5aabbc20;
  border: 1px solid lightgrey;
  display: block;
  margin: 20px 0;
  min-height: 40px;
  padding: 20px;
  width: calc(100% - 42px);
}

.searchField {
  font-size: larger;
  width: calc(100% - 130px);
  line-height: 2em;
  padding: 0 10px;
}
